@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
body {
    font-family: /*Segoe UI,*/Roboto,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    font-weight: 400;
    padding-bottom: 1em;
}
h1 img { height: 1.25em; margin-top: -.25em; opacity: .8; }
h1 svg { height: .8em; width: .8em; float: right; margin-left: .2em; margin-top: .2em; }
h1 svg:hover { fill: #5C7E99; }
.controls { 
    background: #f0f0f0; 
    padding: 6px 0 0 6px; 
    font-size: 0;
}
.controls > div { padding-bottom: 6px; }
.controls button img { vertical-align: top; }
.footer { padding-top: 2em; }

.session { 
    margin-bottom: 0.5em;
    padding: 1em 1em .5em 1em; 
    background-color: #f7f7f7;
}
/* .day:nth-of-type(2n+1) .session { background-color: #e7e7e7; } */
.session h3 { 
    margin-top: 0; 
    margin-bottom: 0.75em; 
    color: #777; 
}
.session h3::before {
    display: inline-block;
    font-size: 10px;
    margin-left: -.5em;
    margin-right: -.5em;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    vertical-align: 40%;
    font-weight: bold;
}


.paper { 
    margin-bottom: 1em; 
    min-height: 7em;
    padding-top: 0.5em;
}


.paper .thumbExpander { 
    margin-right: -20px; 
    margin-bottom: -3em; /* to let left margin of expandInfo overlap with this */
    cursor: pointer;
    clear: both;
    width: 20%;
    display: flex;
}
.paper .thumbExpander .conferenceTrack {
    /* background-color: hsla(60, 75%, 45%, 1); */
    width: 20%;
    margin-bottom: 4.5px;
    margin-top: 1px;
    color: #fafaea;
}
.paper .thumbExpander .conferenceTrack span {
    width: 4em;
    text-transform: uppercase;
    transform-origin: 0% 0%;
    transform: rotate(-90deg) translate(-0.6em, -3.6em);
    transform-origin: 100% 0%;
    font-weight: bold;
    display: block;
    text-align: right;
}
.paper .mobileReviewLabel { display: none;}

.paper .thumbExpander .spacer { 
    width: 80%;
}
.paper .thumbExpander .thumb {
    padding: 1px 1px 1px 0;
    width: 100%;
    min-width: 100%;
    opacity: 0.67;
}
.paper .thumbExpander .thumbExpanderContainer { 
    position: absolute;
    /* padding: inherit; */
    width: 80%;
    top: 0;
    /* left: 0; */
}
.paper .thumbExpander .thumbExpanderContainer .thumbContainer {
    background-color: rgba(0, 0, 0, 0.08); 
    width: 80%;
    clear: both;
    margin-left: 20%;
}
.paper .thumbExpander:hover .thumbExpanderContainer .expander { visibility: visible; }
.paper .thumbExpander:active .thumbExpanderContainer .expander { opacity: 1; }
.paper .thumbExpander .thumbExpanderContainer .expander {
    width: 30%;
    position: absolute;
    left: 45%;
    bottom: 0;
    margin: 0 auto;
    opacity: 0.75;
    visibility: hidden;
}
.paper.isExpanded .expander { transform: rotate(180deg); }

.paper.fullOpenAccess .thumbExpander .thumb {
    opacity: 1;
}
.paper .paperMetadata {
    width: 60%;
}
.paper p, .paper h4 {
    margin-bottom: 0.1em;
    color: hsla(0,0%,0%,0.75);
}
.paper .title {
    font-size: inherit;
    line-height: inherit;
    font-weight: 400; 
    margin-top: -0.2em;
}
.paper .title a, .paper .title a:visited {
    color: hsla(0,0%,0%,0.75);
    text-decoration-color: #777;
}
.paper.fullOpenAccess .title { font-weight: 500; }
.paper.fullOpenAccess .title a { 
    color: black;
    text-decoration-color: #777; }

.paper .time { font-family: Consolas, monaco, monospace; white-space: pre; }
.paper .expandInfo { margin-left: calc(20% - 20px); width: 60%; }
.paper .expandInfo .mobileThumb { display: none; }
.paper .expandInfo .abstract { margin-top: .5em; }
.paper .expandInfo .videoWrapper.empty { display: none; }
.paper .expandInfo .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	margin-top: 1.5em;
	height: 0;
}
.paper .expandInfo .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.paper .expandInfo pre {
    background-color: hsla(0,0%,0%,0.05);
    border: 1px solid hsla(0,0%,0%,0.15);
    margin-top: 1em;
    white-space: pre-wrap;
    word-break: normal;
}

/* hide extras when not fullOpenAccess */
.paper:not(.fullOpenAccess) .expandInfo .videoWrapper { display: none; }
.paper:not(.fullOpenAccess) .expandInfo .projectPage { display: none; }
.paper:not(.fullOpenAccess) .expandInfo pre { display: none; }
.paper.fullOpenAccess .expandInfo .notReliable { display: none; }
.paper .expandInfo .notReliable { 
    margin-top: 0.5em;
    opacity: 0.5; 
}

.paper .links { margin-top: -.2em; padding-right: 0; margin-bottom: -2em; min-width: 20%; }
.paper .links .expander { display: none; }
.paper .link[href=""] { 
    cursor: default;
    opacity: 0.1; 
}
.paper .link {
    clear: both;
    display: block;
    opacity: 0.75;
}
.paper .link img {
    display: inline-block;
    vertical-align: middle;
    margin-right: .35em;
    width: 1em;
    height: 1em;
}
.paper .link span { 
    vertical-align: text-top; 
    display: inline-block; 
}
.paper .link.OADomain { font-weight: 500; }

/* explanation or demo */
.paper .link.projectPage { margin-top: 0.6em; }
.paper .link.projectPage[href=""] { display: none; }

.btn { 
    border-radius: 3px; 
    padding: 3px 6px;
    margin-right: 6px;
    min-width: 10%;
    box-shadow: -1px 1px 3px rgba(0,0,0,.125);
    border-style: none;
}
.btn.active { box-shadow: inset 0 1px 3px rgba(0,0,0,.125); }
.btn:focus, .btn:active:focus, .btn.active:focus { outline-style: none; }
.btn[aria-pressed="false"] span:after { 
    font-family: 'Glyphicons Halflings';
    content: "\e157";
    margin-left: 0.5em;
    font-size: 80%;
}
.btn[aria-pressed="true"] span:after { 
    font-family: 'Glyphicons Halflings';
    content: "\e067";
    margin-left: 0.5em;
    font-size: 80%;
}
.btn[aria-pressed="false"] svg.unchecked { display: inline-block; }
.btn[aria-pressed="true"] svg.checked { display: inline-block; }
.btn-day:hover, .btn-day:focus:hover {
    color: hsla(240, 0%, 99%, 1);
    background-color: hsla(0, 0%, 70%, 1);
}
.btn-day, .btn-day:focus {
    color: hsla(0, 0%, 50%, 1);
    background-color: hsla(240, 0%, 99%, 1);
}

.paper.closedAccess .thumbExpander { cursor: default; }
.paper.closedAccess .links,
.paper.closedAccess .expander,
.paper.closedAccess .time { display: none; }
.paper.closedAccess .paperMetadata { font-size: 80%;}
.paper.closedAccess .title, 
.paper.closedAccess .authors,
.paper.closedAccess .closedAccessMessage,
.paper.closedAccess .thumb { opacity: 0.5; }
.closedAccessMessage { display: none; }
.paper.closedAccess .closedAccessMessage { display: block; font-style: italic; }

/* Mobile site */
@media (max-width: 768px) {
    h1 { font-size: 28px; }
    h2 { font-size: 26px; }
    .btn { width: calc(24% - 4px); margin-bottom: 6px; }
    .controls > div { padding-bottom: 0; }


    .paper { margin-bottom: 0.5em; }
    
    .paper .mobileReviewLabel {
        background-color: hsla(60, 75%, 45%, 1);
        color: #fafaea;
        display: block;
        margin-left: 15px;
        width: 5%;
        padding: 1px;
        text-align: center;
        overflow: hidden;
        min-height: 6em;
    }
    .paper .mobileReviewLabel span { 
        text-align: right;
        width: 4em;
        transform: rotate(-90deg) translate(-0.6em, -4em);
        transform-origin: 100% 0%;
        display: block;
    }
    .paper .paperMetadata { width: 90%; padding-left: 10px; }
    .paper .authors {
        white-space: nowrap;
        overflow: hidden; 
        text-overflow: ellipsis;
    }
    .paper .authors:hover,
    .paper .authors:active,
    .paper .authors:focus {
        white-space: normal;
        overflow: auto; 
        text-overflow: clip;
    }
    .paper .time { text-overflow: hidden;}


    .paper .links { 
        margin-top: 0; 
        margin-bottom: 1em; 
        padding-right: 1em;
    }
    .paper .links .expanderContainer {
        display: inline-block;
        width: 32%;
        text-align: left;
    }
    .paper .links .expander {
        display: inline-block;
        height: 2em;
        opacity: 0.75;
    }
    .paper .link { 
        display: inline-block; 
        width: 17%;
        text-align: right;
    }
    .paper .link img {
        width: 2em;
        height: 2em;
        background-size: 2em;
    }
    .paper .link span { display: none; }


    .paper .expandInfo { margin-left: 0; margin-bottom: 2em; width: 100%; }
    .paper .expandInfo .mobileThumb { 
        width: 100%; 
        display: block;
        margin: 1em .5em 1em 0;
        border: 1px solid rgba(0,0,0,.125);
    }
    .paper .expandInfo .abstract { margin-left: .25em; }
    .paper .expandInfo pre { display: none; }
}


/* Track-specific styles */
.infovis, .btn-infovis { --hue: 240; --sat: 100%; --lum: 80%; }
.vast,    .btn-vast    { --hue: 120; --sat: 50%;  --lum: 70%; }
.scivis,  .btn-scivis  { --hue:   0; --sat: 100%; --lum: 80%; }
.short,   .btn-short   { --hue: 280; --sat:  50%; --lum: 70%; }
.journal, .btn-other   { --hue:  60; --sat:  75%; --lum: 45%; }
.paper.closedAccess { --sat:  0%; --lum: 80%; }
/* .btn-day               { --hue:   0; --sat:   0%; --lum: 70%; } */


.paper .thumbExpander .conferenceTrack, .paper .mobileReviewLabel { background-color: hsla(var(--hue), var(--sat), var(--lum), 1); }

.infovis .conferenceTrack, .infovis .mobileReviewLabel { color: #f0f0ff; }
.vast    .conferenceTrack, .vast    .mobileReviewLabel { color: #f0fff0; }
.scivis  .conferenceTrack, .scivis  .mobileReviewLabel { color: #fff0f0; }
.short   .conferenceTrack, .short   .mobileReviewLabel { color: #f7e7f7; }

/* .infovis h3::before { content: "INFO"; }
.vast    h3::before { content: "VAST"; }
.scivis  h3::before { content: "SCI "; margin-right: .1em; } */


.btn-track:hover, .btn-track:focus:hover {
    color: hsla(var(--hue), 100%, 97%, 1);
    background-color: hsla(var(--hue), var(--sat), var(--lum), 1);
}
.btn-track, .btn-track:focus {
    color: hsla(var(--hue), var(--sat), var(--lum), 1);
    background-color: hsla(var(--hue), 100%, 97%, 1);
}



.beliv { background-color: hsla(45, 65%, 95%, 1); }
.beliv h3 { color: hsla(45, 75%, 45%, 1) }
.beliv h3::before { content: "BELIV"; }
.btn-beliv:hover, .btn-beliv:focus:hover {
    color: hsla(45, 65%, 95%, 1);
    background-color: hsla(45, 75%, 45%, 1);
}
.btn-beliv, .btn-beliv:focus {
    color: hsla(45, 75%, 45%, 1);
    background-color: hsla(45, 65%, 95%, 1);
}

.vizsec { background-color: hsla(150, 65%, 95%, 1); }
.vizsec h3 { color: hsla(150, 75%, 45%, 1) }
.vizsec h3::before { content: "VIZSEC"; }
.btn-vizsec:hover, .btn-vizsec:focus:hover {
    color: hsla(150, 65%, 95%, 1);
    background-color: hsla(150, 75%, 45%, 1);
}
.btn-vizsec, .btn-vizsec:focus {
    color: hsla(150, 75%, 45%, 1);
    background-color: hsla(150, 65%, 95%, 1);
}